body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

hr.divider {
  margin-top: 20px;
}

h4.header {
  margin-top: 0.5rem;
}

div.header {
  margin-left: 10px;
  font-size: large;
  font-weight: bold;
}